.page {
  padding: 16px 16px 96px 16px;
}

.section-container {
  padding: 16px;
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 24px;
}
body {
  background-color: #fff;
}

.swiper-slide {
  margin-right: 30px !important;
  /* margin-left: 15px !important; */
}

@keyframes a {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2px);
  }
}

.animate-a {
  width: 50px;
  height: 50px;
  animation: a 1s infinite alternate;
}

.zaui-routes .zaui-routes-item {
  max-height: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outner-spin-button {
  -webkit-appearance: none;
}

.zaui-input-affix-wrapper-focused {
  border: 1px solid transparent;
}

.zaui-input-affix-wrappe:hover,
.zaui-input-affix-wrapper-focused {
  border-color: #1f633c !important;
}

.zaui-btn-icon-only .zaui-btn-icon {
  width: 15px !important;
  height: 15px !important;
}

.zaui-btn-icon-only {
  padding: 12px 0 !important;
}

.ripple-btn {
  position: relative;
  overflow: hidden;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.ripple-effect {
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7);
  animation: ripple-animation 0.4s linear;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.zaui-input-affix-wrapper:hover {
  border-color: #1f633c !important;
}

.zaui-input-prefix {
  line-height: 3;
}
