.page {
  padding: 0;
  margin: 0;
}
.products {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 0;
}
.product {
  height: 245px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px dotted #eeeff2;
  padding: 10px;
}
.product-image {
  height: 100px;
  margin: 10px 0;
}
.product-promotion {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: red;
  /* position: relative;
  bottom: 110px; */
  color: #fff;
  line-height: 30px;
  font-size: 10px;
}
.product-column .product-promotion {
  left: 1.8rem;
}
.product-image img {
  width: 120px;
  object-fit: cover;
  height: 110px;
}
.product-column .product-image img {
  max-width: 85px;
}
.product-detail {
  text-align: center;
}
.product-detail button {
  background-color: #1f633c;
  border: 1px solid #aac4b5;
  padding: 5px 10px;
  border-radius: 6px;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}
/* .product-name {
  height: 40px;
} */
.product-input input {
  width: 100%;
  text-align: center;
  letter-spacing: 1px;
  border: 1px solid #d9d9d9;
  padding: 1px 0px !important;
}
.product-input {
  margin-top: 13px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.products-column {
  display: flex;
  flex-direction: column;
}
.product-column {
  flex-direction: row;
  height: 140px;
  padding: 10px 20px;
}
.product-detail-column {
  text-align: left;
  margin-left: 35px;
  margin-top: 20px;
}
.product-name-column {
  width: 15rem;
  height: unset;
}
.product-input-column {
  margin-left: 0;
  margin-right: 0;
}
.product-input span,
.product-input input {
  font-size: 1rem;
  padding: 2px;
}
.product-input span {
  background-color: #d9d9d9;
  width: 60px;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
}
.product-input span:first-child {
  border-radius: 4px 0 0 4px;
}
.product-input span:last-child {
  border-radius: 0 4px 4px 0;
}
.product-input .active {
  background-color: #1f633c;
  color: #fff;
}
.sale-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px 0;
  font-weight: 500;
  padding: 0 1.5rem;
}

.Skeleton .products {
  height: 240px;
  display: grid;
  grid-template-columns: 49% 49%;
  grid-column-gap: 0;
  margin-left: 6px;
}
.Skeleton .product {
  height: 210px;
  border: none;
}
.sale-header span {
  height: 65px;
  margin: 0;
}
